div
{
    width: fit-content;
    max-width: 400px  !important;
    background-color: brown;
    color: white;
    overflow-y: visible;
    overflow-x: hidden;
    padding: 20px ;
    margin: 10px 5px ;
}